@charset "UTF-8";
/** style */
/** reset */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline; background: transparent; }

body { font-size: 13px; *font-size: small; font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',Meiryo, 'ＭＳ Ｐゴシック', sans-serif; line-height: 123.1%; }

li { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

ins { text-decoration: none; }

del { text-decoration: line-through; }

table { border-collapse: collapse; border-spacing: 0; }

img { vertical-align: bottom; }

:focus { outline: 0; }

#wrapper { position: absolute; width: 100%; height: 100%; min-width: 600px; min-height: 400px; overflow: hidden; }

#imgContainer img { display: none; position: absolute; }

#loading { position: absolute; left: 50%; top: 50%; margin-left: -32px; margin-top: -32px; }

/* sample */
#header { position: absolute; top: 0; width: 100%; height: 257px; }
#header h1 { padding: 10px; }
#header h1 a { color: #fff; font-weight: bold; font-size: 32px; line-height: 1em; text-decoration: none; }
